@charset "UTF-8";
* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
}

body {
  position: relative;
}

/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

body {
  background-color: #FFFDFA;
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
}

@media screen and (min-width: 1920px) {
  .l-header {
    width: 80.9%;
    position: relative;
  }
}

.l-nav {
  width: 100%;
  max-width: 87.5%;
  height: 100%;
  background-color: #F2EDE9;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.is-nav--open {
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 375px;
  overflow-y: scroll;
}

.l-aside__layer {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  /* 透明度を0にすることで隠す */
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  /* 透明度の0→1になる速度 */
}

.is-aside__layer--open {
  width: 100%;
  height: 100%;
  opacity: 1;
  /* メニューが表示されているときには背景が表示 */
}

@media screen and (min-width: 834px) {
  .is-nav--open {
    width: 367px;
  }
}

@media screen and (min-width: 1920px) {
  main {
    width: 100%;
    margin-right: 19.1%;
  }
  .l-nav {
    height: calc(100% - 150px);
    width: 19.1%;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    position: absolute;
  }
}

.l-footer {
  height: 150px;
  width: 100%;
  background: url("../img/layer.png");
}

.l-service-wrapprer {
  width: 100%;
}

.l-service {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-service__takeout {
  position: relative;
  background-image: url(../img/takeout-iphone.jpg);
  background-size: cover;
  height: 642px;
  background-position: center;
}

.l-service__takeout__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-service__eatin {
  position: relative;
  margin-top: 20px;
  background-image: url(../img/eatin-iphone.jpg);
  background-size: cover;
  height: 642px;
  background-position: center;
}

.l-service__eatin__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 834px) {
  .l-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px;
  }
  .l-service__takeout {
    height: 681px;
    background-image: url(../img/takeout-ipad.jpg);
  }
  .l-service__eatin {
    height: 681px;
    margin-top: 0;
    margin-left: 41px;
    background-image: url(../img/eatin-ipad.jpg);
  }
}

@media screen and (min-width: 1920px) {
  .l-service-wrapprer {
    width: 80.9%;
  }
  .l-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 120px 112px 131px 111px;
  }
  .l-service__takeout {
    height: 1193px;
    background-image: url(../img/takeout-pc.jpg);
  }
  .l-service__eatin {
    height: 1193px;
    background-image: url(../img/eatin-pc.jpg);
    margin-top: 0;
    margin-left: 80px;
  }
}

.l-top {
  position: relative;
  width: 100%;
  height: 285px;
  background-size: cover;
  background-image: url(../img/top-iphone.jpg);
  background-position: center;
}

@media screen and (min-width: 834px) {
  .l-top {
    background-image: url(../img/top-ipad.jpg);
  }
}

@media screen and (min-width: 1920px) {
  .l-top {
    height: 530px;
    width: 80.88%;
    background-image: url(../img/top-pc.jpg);
  }
}

.l-top--archive {
  position: relative;
  width: 100%;
  height: 285px;
  background-size: cover;
  background-image: url(../img/page-title-archive-iphone.jpg);
  background-position: center left;
  opacity: 0.5;
}

.l-top__title__layer {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 285px;
}

@media screen and (min-width: 834px) {
  .l-top--archive {
    height: 283px;
    background-image: url(../img/page-title-archive-ipad.jpg);
  }
  .l-top__title__layer {
    height: 283px;
  }
}

@media screen and (min-width: 1920px) {
  .l-top--archive {
    height: 239px;
    width: 80.88%;
    background-image: url(../img/page-title-archive-pc.jpg);
  }
  .l-top__title__layer {
    height: 239px;
    width: 80.88%;
  }
}

.l-top--single {
  position: relative;
  width: 100%;
  height: 225px;
  background-size: cover;
  background-image: url(../img/page-title-single-iphone.jpg);
  background-position: center;
}

@media screen and (min-width: 834px) {
  .l-top--single {
    background-image: url(../img/page-title-single-ipad.jpg);
    height: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .l-top--single {
    background-image: url(../img/page-title-single-pc.jpg);
    width: 80.88%;
  }
}

.l-top--page {
  position: relative;
  width: 100%;
  height: 224px;
  background-size: cover;
  background-image: url(../img/title-page-iphone.jpg);
  background-position: center;
}

@media screen and (min-width: 834px) {
  .l-top--page {
    background-image: url(../img/title-page-ipad.jpg);
    height: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .l-top--page {
    background-image: url(../img/title-page-pc.jpg);
    width: 80.88%;
  }
}

.l-map {
  height: 691px;
  position: relative;
}

.l-map__layer--top {
  background-color: #000000;
  opacity: 0.29;
  position: absolute;
  height: 60%;
  z-index: 5;
}

.l-map__img--middle {
  background-image: url(../img/map-iphone.jpg);
  background-size: cover;
  background-position: center;
  height: 691px;
  opacity: 0.6;
  z-index: 3;
  position: absolute;
}

.l-map__layer--bottom {
  height: 691px;
  background-color: #000000;
  position: absolute;
}

@media screen and (min-width: 834px) {
  .l-map {
    height: 415px;
  }
  .l-map__layer--top {
    width: 100%;
    height: 100%;
  }
  .l-map__img--middle {
    height: 415px;
    background-image: url(../img/map-ipad.jpg);
  }
  .l-map__layer--bottom {
    height: 415px;
  }
}

@media screen and (min-width: 1920px) {
  .l-map {
    height: 649px;
    width: 80.9%;
  }
  .l-map__layer--top {
    height: 100%;
    width: 61.2%;
  }
  .l-map__img--middle {
    height: 649px;
    background-image: url(../img/map-pc.jpg);
  }
  .l-map__layer--bottom {
    height: 649px;
    width: 100%;
  }
}

.l-menu__list {
  padding-left: 20px;
  padding-right: 20px;
}

.l-menu__list__item {
  margin-bottom: 20.9px;
  height: 585.12px;
}

.l-menu__list__item__img {
  background-image: url(../img/menu-list-iphone.jpg);
  background-size: cover;
  background-position: center;
  height: 230.53px;
  width: 100%;
}

.l-menu__list__item__info {
  background-color: #3C2B1C;
  height: 354.59px;
  width: 100%;
  background-position: center;
  padding-left: 17px;
  padding-right: 17px;
}

@media screen and (min-width: 834px) {
  .l-menu__list {
    padding-left: 43px;
    padding-right: 35px;
  }
  .l-menu__list__item {
    margin-bottom: 20.5px;
    position: relative;
    height: 354.5px;
  }
  .l-menu__list__item__img {
    background-image: url(../img/menu-list-ipad.jpg);
    height: 354.5px;
    width: 50%;
  }
  .l-menu__list__item__info {
    height: 354.5px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    padding-left: 34.7px;
    padding-right: 34.7px;
  }
}

@media screen and (min-width: 1920px) {
  .l-menu__list {
    width: 80.88%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .l-menu__list__item {
    height: 471px;
    margin-bottom: 30px;
    position: relative;
  }
  .l-menu__list__item__img {
    background-image: url(../img/menu-list-pc.jpg);
    height: 471px;
    width: 49.59%;
  }
  .l-menu__list__item__info {
    height: 471px;
    width: 49.96%;
    left: 49.59%;
    padding-left: 63px;
    padding-right: 63px;
  }
}

.l-menu__pagenation {
  padding: 39.5px 20.2px 31px 20.2px;
}

.l-pagenation {
  position: relative;
  height: 22px;
}

.l-pagenation ul {
  display: none;
}

@media screen and (min-width: 834px) {
  .l-menu__pagenation {
    padding: 0;
    margin: 85px auto 30px auto;
    max-width: 598.82px;
  }
  .l-pagenation {
    position: relative;
    height: 35px;
    width: 100%;
  }
  .l-pagenation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 72.64%;
    left: 127px;
  }
}

@media screen and (min-width: 1920px) {
  .l-menu__pagenation {
    margin: 120px 844.2px 64px 477px;
    width: 80.9%;
  }
}

.l-wrapper--single {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 834px) {
  .l-wrapper--single {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .l-wrapper--single {
    width: 80.88%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.l-product__img--main {
  background-image: url(../img/product-gallery-iphone.jpg);
  height: 124px;
  width: 100%;
  margin-top: 30px;
  background-position: bottom center;
  background-size: cover;
}

.l-product__item__img--top {
  background-image: url(../img/product-gallery-iphone.jpg);
  height: 100%;
  width: 43%;
  background-size: contain;
  position: absolute;
}

.l-product__item__img--bottom {
  background-image: url(../img/product-gallery-iphone.jpg);
  height: 100%;
  width: 43%;
  background-size: contain;
  position: absolute;
  right: 0;
}

.l-product__img--sub {
  background-image: url(../img/product-gallery-iphone.jpg);
  height: 166px;
  width: 79.7%;
  background-size: contain;
  background-position: center;
  margin: 30px auto;
}

@media screen and (min-width: 834px) {
  .l-product__img--main {
    background-image: url(../img/product-gallery-ipad.jpg);
    height: 264px;
    margin-top: 60px;
  }
  .l-product__item__img--top {
    background-image: url(../img/product-gallery-ipad.jpg);
  }
  .l-product__item__img--bottom {
    background-image: url(../img/product-gallery-ipad.jpg);
  }
  .l-product__img--sub {
    background-image: url(../img/product-gallery-ipad.jpg);
    height: 358px;
    width: 81.37%;
    margin: 60px auto;
  }
}

@media screen and (min-width: 1920px) {
  .l-product__img--main {
    height: 500px;
  }
  .l-product__img--sub {
    width: 43%;
  }
}

.c-button__search {
  border: solid 1px #707070;
  color: #707070;
  cursor: pointer;
  background-color: #F2EDE9;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 24.38%;
  height: 46px;
  margin-left: auto;
}

@media screen and (min-width: 834px) {
  .c-button__search {
    width: 25%;
  }
}

.c-button__menu {
  font-family: Robot;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  width: 51px;
  height: 26px;
  position: absolute;
  top: 14px;
  right: 16px;
}

.c-button--close {
  display: block;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: 25px;
  left: 85.3%;
}

.c-button--line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 45.2px;
  height: 6px;
  background-color: #707070;
  display: block;
}

.c-button--line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: "";
  position: absolute;
  width: 45.2px;
  height: 6px;
  background-color: #707070;
  display: block;
}

@media screen and (min-width: 1920px) {
  .c-button__menu {
    display: none;
  }
  .c-button--close {
    display: none;
  }
  .c-button--line {
    display: none;
  }
}

.c-button--detail {
  font-size: 16px;
  font-family: M1m;
  font-weight: bold;
  color: #707070;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 41.1px 10.5px 41.1px;
}

.c-button__block {
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .c-button--detail {
    padding: 27px 106px;
  }
}

.p-header__title h1 {
  color: #707070;
  font-family: Roboto;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .p-header__title h1 {
    text-align: none;
    padding: 67px 1163px 66px 65px;
    font-size: 64px;
  }
}

.p-header__search {
  width: 85.3%;
  margin: 38px auto;
  height: 46px;
}

.p-header__search__box {
  width: 71.87%;
  border: solid 1px #707070;
  background-color: #fff;
  border-radius: 10px;
  height: 46px;
  padding-left: 16px;
}

@media screen and (min-width: 834px) {
  .p-header__search {
    width: 65.46%;
  }
  .p-header__search__box {
    width: 72.5%;
  }
}

@media screen and (min-width: 1920px) {
  .p-header__search {
    position: absolute;
    top: 48px;
    right: 20px;
    width: 35.15%;
  }
}

.fas {
  color: #808080;
}

.p-aside a {
  font-family: M1m;
  color: #707070;
}

.p-nav__memu {
  display: none;
}

.p-hnav__contents {
  padding-top: 155px;
}

.p-hnav__contents__title a {
  font-weight: bold;
  padding-left: 46px;
  font-size: 24px;
  padding-top: 85px;
}

.p-hnav__contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-hnav__contents__list--margin {
  margin-top: 40px;
}

.p-hnav__contents__list__item {
  padding-left: 66px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 20px;
}

.p-snav__contents {
  padding-top: 34px;
}

.p-snav__contents__title a {
  font-weight: bold;
  padding-left: 46px;
  font-size: 24px;
}

.p-snav__contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-snav__contents__list--margin {
  margin-top: 40px;
}

.p-snav__contents__list__item {
  padding-left: 66px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 20px;
}

.p-dnav__contents {
  padding-top: 34px;
}

.p-dnav__contents__title a {
  font-weight: bold;
  padding-left: 46px;
  font-size: 24px;
}

.p-dnav__contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-dnav__contents__list--margin {
  margin-top: 40px;
}

.p-dnav__contents__list__item {
  padding-left: 66px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 20px;
}

@media screen and (min-width: 1920px) {
  .p-nav__memu {
    display: block;
    font-family: Robot;
    font-weight: bold;
    font-size: 34px;
    color: #707070;
    margin-top: 82px;
    margin-left: 46px;
    width: 86px;
    height: 45px;
  }
}

.p-footer__contents {
  color: #fff;
  font-family: M1m;
}

.p-footer__contents__items {
  text-align: center;
  padding-top: 39px;
  padding-left: 63px;
  padding-right: 62px;
}

.p-footer__contents__items__item {
  padding: 0;
  margin: 0;
}

.p-footer__contents__items a {
  font-size: 20px;
}

.p-footer__contents__note {
  font-size: 14px;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 30px;
}

.p-top__img {
  height: 285px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1920px) {
  .p-top__img {
    height: 530px;
    width: 80.9%;
  }
}

.p-top__title {
  position: absolute;
  font-family: M1m;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  padding-left: 25px;
  top: 119px;
}

@media screen and (min-width: 834px) {
  .p-top__title {
    padding-left: 86px;
  }
}

@media screen and (min-width: 1920px) {
  .p-top__title {
    padding-left: 86px;
    top: 231px;
    font-size: 40px;
  }
}

.p-top__title--menu {
  position: absolute;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  padding-left: 37px;
  top: 319px;
}

.p-top__subtitle--archive {
  position: absolute;
  font-family: M1m;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-left: 37px;
  top: 374px;
}

@media screen and (min-width: 834px) {
  .p-top__title--menu {
    font-size: 60px;
    padding-left: 86px;
  }
  .p-top__subtitle--archive {
    padding-left: 275px;
    top: 354px;
  }
}

@media screen and (min-width: 1920px) {
  .p-top__title--menu {
    top: 297px;
  }
  .p-top__subtitle--archive {
    top: 330px;
  }
}

.p-top__title--search {
  position: absolute;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  padding-left: 37px;
  top: 320px;
}

.p-top__subtitle--archive_search {
  position: absolute;
  font-family: M1m;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-left: 37px;
  top: 374px;
}

@media screen and (min-width: 834px) {
  .p-top__title--search {
    font-size: 60px;
    padding-left: 86px;
    top: 319px;
  }
  .p-top__subtitle--archive_search {
    padding-left: 311px;
    top: 352px;
  }
}

@media screen and (min-width: 1920px) {
  .p-top__title--search {
    top: 297px;
  }
  .p-top__subtitle--archive_search {
    top: 330px;
  }
}

.p-top__title--single {
  position: absolute;
  font-family: M1m;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  padding-left: 26px;
  top: 308px;
}

@media screen and (min-width: 834px) {
  .p-top__title--single {
    padding-left: 86px;
    top: 425px;
    font-size: 60px;
  }
}

.p-top__title--page {
  position: absolute;
  font-family: M1m;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  padding-left: 45px;
  top: 308px;
}

@media screen and (min-width: 834px) {
  .p-top__title--page {
    padding-left: 86px;
    top: 425px;
    font-size: 60px;
  }
}

.p-service__title--takeout {
  font-family: Robot;
  font-size: 41px;
  color: #EAEAEA;
  padding-left: 10px;
  position: absolute;
  top: 11px;
}

.p-service__title--takeout::before {
  content: "―";
  font-family: Robot;
  font-size: 41px;
  height: 1px;
  color: #EAEAEA;
  padding-left: 0px;
  margin-top: 60.3px;
  position: absolute;
}

.p-service__title--eatin {
  font-family: Robot;
  font-size: 41px;
  color: #fff;
  padding-left: 12px;
  position: absolute;
  top: 13px;
}

.p-service__title--eatin::before {
  content: "―";
  font-family: Robot;
  font-size: 41px;
  color: #fff;
  padding-left: 0px;
  margin-top: 60.3px;
  position: absolute;
}

.p-service__cat--top {
  background-color: #fff;
  opacity: 0.8;
  width: 93.7%;
  height: 25.4%;
  position: absolute;
  top: 46.3%;
  margin-left: 11px;
}

.p-service__cat--bottom {
  background-color: #fff;
  opacity: 0.8;
  width: 93.7%;
  height: 25.4%;
  position: absolute;
  top: 73%;
  margin-left: 11px;
}

.p-service__cat__heading {
  font-weight: bold;
  font-family: M1m;
  color: #3C2A10;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 19px;
  padding: 0;
}

.p-service__cat__item {
  color: #3C2A10;
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1.43;
  font-family: M1m;
  margin: 19px 14px 23px 10px;
  width: 92.3%;
  height: 43.5%;
}

@media screen and (min-width: 834px) {
  .p-service__title--takeout {
    font-size: 44px;
    padding-left: 11px;
    top: 12px;
  }
  .p-service__title--eatin {
    font-size: 44px;
    padding-left: 13px;
    top: 14px;
  }
  .p-service__cat--top {
    width: 93.55%;
    height: 25.25%;
    top: 46.4%;
    margin-left: 12px;
  }
  .p-service__cat--bottom {
    width: 93.55%;
    height: 25.25%;
    top: 73.1%;
    margin-left: 12px;
  }
  .p-service__cat__heading {
    font-size: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .p-service__title--takeout {
    font-size: 80px;
    padding-left: 19px;
    top: 20px;
  }
  .p-service__title--takeout::before {
    font-size: 60px;
    margin-top: 80.3px;
  }
  .p-service__title--eatin {
    font-size: 80px;
    padding-left: 22px;
    top: 24px;
  }
  .p-service__title--eatin::before {
    font-size: 60px;
    margin-top: 80.3px;
  }
  .p-service__cat--top {
    width: 93.6%;
    height: 14.48%;
    top: 67.5%;
    margin-left: 20px;
  }
  .p-service__cat--bottom {
    width: 93.6%;
    height: 14.48%;
    top: 83.7%;
    margin-left: 20px;
  }
}

.p-map__content {
  z-index: 6;
  position: absolute;
  top: 0;
}

.p-map__content__title {
  font-family: M1m;
  font-size: 30px;
  color: #fff;
  margin-top: 40px;
  margin-left: 42px;
  width: 64%;
}

.p-map__content__title::before {
  content: "――";
  font-family: Robot;
  font-size: 41px;
  color: #fff;
  padding-left: 0px;
  margin-top: 20px;
  position: absolute;
}

.p-map__content__item {
  font-family: M1m;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin: 40px 40px 51px 40px;
  width: 78.7%;
  height: 75%;
  line-height: 2.3;
}

@media screen and (min-width: 834px) {
  .p-map__content__item {
    margin: 40px 29px auto 42px;
    width: 91.5%;
  }
  .p-map__content__title::before {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .p-map__content__item {
    width: 44.8%;
    margin: 119px auto 40px 119px;
  }
  .p-map__content__title {
    margin-top: 83px;
    margin-left: 119px;
  }
  .p-map__content__title::before {
    margin-top: 60px;
  }
}

.p-menu__desc__title {
  padding-top: 30px;
  padding-left: 22px;
  font-weight: bold;
  font-family: M1m;
  color: #3C2A10;
  font-size: 28px;
}

.p-menu__desc__text {
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1.43;
  font-family: M1m;
  color: #3C2A10;
  height: 276px;
  width: 89.3%;
  margin: 30px 18px 19px 22px;
}

@media screen and (min-width: 834px) {
  .p-menu__desc__title {
    padding-top: 36px;
    padding-left: 42px;
    font-size: 36px;
  }
  .p-menu__desc__text {
    height: 143px;
    width: 90.76%;
    margin: 25px 35px 37px 42px;
  }
}

@media screen and (min-width: 1920px) {
  .p-menu__desc__title {
    padding-top: 60px;
    padding-left: 100px;
  }
  .p-menu__desc__text {
    height: 71px;
    width: 70.46%;
    margin: 25px 100px 70px 100px;
  }
}

.p-menu__list__item__title {
  color: #fff;
  font-family: M1m;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30.5px;
}

.p-menu__list__item__subtitle {
  color: #fff;
  font-family: M1m;
  font-weight: bold;
  padding-top: 24px;
}

.p-menu__list__item__text {
  color: #fff;
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1.43;
  font-family: M1m;
  margin: 10px 0 40px 0;
  height: 114px;
}

@media screen and (min-width: 834px) {
  .p-menu__list__item__title {
    padding-top: 29px;
  }
  .p-menu__list__item__subtitle {
    padding-top: 20px;
  }
  .p-menu__list__item__text {
    margin: 10px 0 45px 0;
  }
}

@media screen and (min-width: 1920px) {
  .p-menu__list__item__title {
    padding-top: 53px;
    font-size: 36px;
  }
  .p-menu__list__item__subtitle {
    padding-top: 47px;
    font-size: 24px;
  }
  .p-menu__list__item__text {
    margin: 17px 0 60px 0;
  }
}

.p-pagenation__count {
  display: none;
}

.p-pagenation__before {
  position: absolute;
  width: 32px;
  height: 22px;
  top: 0;
  left: 25.7px;
  font-family: M1m;
  color: #707070;
  font-size: 16px;
}

.p-pagenation__after {
  position: absolute;
  width: 32px;
  height: 22px;
  top: 0;
  right: 24.8px;
  font-family: M1m;
  color: #707070;
  font-size: 16px;
}

.p-pagenation__pre--left {
  position: absolute;
  left: 0;
  width: 17.53px;
  height: 17.07px;
}

.p-pagenation__next--right {
  position: absolute;
  right: 0;
  width: 17.53px;
  height: 17.07px;
}

.fa-angle-double-left::before {
  color: #707070;
  line-height: 22px;
}

.fa-angle-double-right::before {
  color: #707070;
  line-height: 22px;
}

@media screen and (min-width: 834px) {
  .l-pagenation ul li {
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }
  .l-pagenation ul li a {
    display: block;
    color: #707070;
    border: solid 1px #707070;
    width: 35px;
    height: 35px;
    padding: 7px 9px 7px 10px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
  }
  .l-pagenation ul li .p-pagenation--color {
    background-color: #3C2B1C;
    color: #fff;
  }
  .p-pagenation__count {
    display: block;
    position: absolute;
    font-family: Roboto;
    color: #707070;
    font-weight: bold;
    line-height: 35px;
  }
  .p-pagenation__before {
    display: none;
  }
  .p-pagenation__after {
    display: none;
  }
  .p-pagenation__pre--left {
    left: 92.3px;
  }
  .fa-angle-double-left::before {
    line-height: 35px;
  }
  .fa-angle-double-right::before {
    line-height: 35px;
  }
}

.p-contents h2 {
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  font-family: M1m;
  color: #3C2A10;
}

.p-contents p {
  height: 183px;
  margin-top: 30px;
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1.43;
  font-family: M1m;
  color: #3C2A10;
}

.p-contents h3 {
  margin-top: 34px;
  font-size: 24px;
  font-weight: bold;
  font-family: M1m;
  color: #3C2A10;
}

.p-contents h4 {
  margin-top: 30px;
  margin-bottom: 29px;
  font-size: 20px;
  font-weight: bold;
  font-family: M1m;
  color: #3C2A10;
}

@media screen and (min-width: 834px) {
  .p-contents h2 {
    margin-top: 60px;
    font-size: 36px;
  }
  .p-contents p {
    height: 115px;
    margin-top: 60px;
  }
  .p-contents h3 {
    margin-top: 60px;
    font-size: 28px;
  }
  .p-contents h4 {
    margin-top: 59px;
    margin-bottom: 59px;
  }
}

@media screen and (min-width: 1920px) {
  .p-contents p {
    height: 71px;
  }
}

.p-blockquote {
  height: 617px;
  background-color: #F5F5F5;
}

.p-blockquote__text {
  color: #3C2A10;
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1.43;
  font-family: M1m;
  padding: 30px 16px 0 20px;
  height: 505px;
}

.p-blockquote__note {
  color: #3C2A10;
  font-family: M1m;
  line-height: 1.5;
  padding-top: 30px;
  padding-left: 20px;
}

.p-blockquote__note span {
  color: #4A6C9B;
  border-bottom: 1px solid #4A6C9B;
}

@media screen and (min-width: 834px) {
  .p-blockquote {
    height: 444px;
  }
  .p-blockquote__text {
    padding: 50px 56px 0 50px;
    height: 252px;
  }
  .p-blockquote__note {
    padding-top: 60px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .p-blockquote {
    height: 319px;
  }
  .p-blockquote__text {
    padding: 50px 60px 0 50px;
    height: 137px;
  }
}

.p-product__item--top {
  position: relative;
  height: 176px;
  margin-top: 30px;
}

.p-product__item__text--top {
  position: absolute;
  height: 176px;
  width: 54.6%;
  overflow-wrap: break-word;
  overflow: hidden;
  right: 0;
}

.p-product__item--bottom {
  position: relative;
  height: 176px;
  margin-top: 30px;
}

.p-product__item__text--bottom {
  position: absolute;
  height: 176px;
  width: 54.6%;
  overflow-wrap: break-word;
  overflow: hidden;
}

@media screen and (min-width: 834px) {
  .p-product__item--top {
    height: 373px;
    margin-top: 60px;
  }
  .p-product__item__text--top {
    height: 373px;
    width: 54.2%;
  }
  .p-product__item--bottom {
    height: 373px;
    margin-top: 117px;
  }
  .p-product__item__text--bottom {
    height: 373px;
    width: 54.2%;
  }
}

@media screen and (min-width: 1920px) {
  .p-product__item--top {
    height: 358px;
    margin-top: 60px;
  }
  .p-product__item__text--top {
    height: 191px;
  }
  .p-product__item--bottom {
    height: 358px;
    margin-top: 60px;
  }
  .p-product__item__text--bottom {
    height: 191px;
  }
}

.p-gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-gallery__item__img {
  background-image: url(../img/product-gallery-iphone.jpg);
  width: 100%;
  height: 209px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 834px) {
  .p-gallery__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-gallery__item {
    width: 48.8%;
  }
  .p-gallery__item__img {
    height: 205px;
  }
}

@media screen and (min-width: 1920px) {
  .p-gallery__item {
    width: 32.35%;
  }
  .p-gallery__item__img {
    height: 257px;
  }
}

.p-secondary1--top {
  margin-top: 10px;
  margin-bottom: 60px;
}

.p-secondary1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: decimal;
  margin-bottom: 20px;
}

.p-secondary1__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: decimal;
  margin-bottom: 20px;
  margin-left: 18px;
}

.p-secondary1__list__item {
  color: #3C2A10;
}

.p-secondary1--bottom {
  margin-top: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 834px) {
  .p-secondary1--top {
    margin-top: 60px;
  }
  .p-secondary1__list {
    margin-left: 50px;
  }
  .p-secondary1__list2 {
    margin-left: 68px;
  }
  .p-secondary1--bottom {
    margin-bottom: 60px;
  }
}

.p-secondary2 {
  height: 237px;
  background-color: #F5F5F5;
  padding: 30px 59px 50px 30px;
}

.p-secondary2 code {
  line-height: 1.43;
  color: #3C2A10;
  font-family: M1m;
  margin: 50px auto 50px 50px;
}

.p-secondary3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-secondary3 tr {
  width: 100%;
  height: 77px;
}

.p-secondary3 .p-seconday3__table__td1 {
  width: 40.3%;
  padding-left: 30px;
}

.p-secondary3 .p-seconday3__table__td2 {
  width: 59.7%;
  padding-left: 30px;
}

@media screen and (min-width: 834px) {
  .p-secondary3 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .p-secondary3 .p-seconday3__table__td1 {
    width: 30%;
  }
  .p-secondary3 .p-seconday3__table__td2 {
    width: 70%;
  }
}

@media screen and (min-width: 1920px) {
  .p-secondary3 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.p-secondary4 {
  height: 81px;
  margin-bottom: 30px;
}

.p-secondary4__button {
  width: 100%;
  max-width: 429px;
  height: 81px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background-image: linear-gradient(#F2EDE9, #DED8D3);
  border: solid 1px #707070;
  border-radius: 20px;
  color: #3C2A10;
  font-family: M1m;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 834px) {
  .p-secondary4 {
    height: 104px;
    margin-bottom: 60px;
  }
  .p-secondary4__button {
    height: 104px;
  }
}

.p-secondary5 {
  margin-bottom: 70px;
}

.p-secondary5__text {
  color: #3C2A10;
  font-family: M1m;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .p-secondary5 {
    margin-bottom: 179px;
  }
}
/*# sourceMappingURL=style.css.map */