//foundation//
@import "foundation/base";
@import "foundation/resete";
@import "foundation/config";
@import "foundation/minxin";

//layout//
@import "layout/header";
@import "layout/aside";
@import "layout/footer";
@import "layout/service";
@import "layout/top";
@import "layout/map";
@import "layout/menu";
@import "layout/page";
@import "layout/wrapper";
@import "layout/product";

//object//
    //component//
    @import "object/component/button";


    //project//
    @import "object/project/header";
    @import "object/project/aside";
    @import "object/project/footer";
    @import "object/project/top";
    @import "object/project/service";
    @import "object/project/map";
    @import "object/project/menu";
    @import "object/project/page";
    @import "object/project/contents";
    @import "object/project/blockquote";
    @import "object/project/product";
    @import "object/project/gallery";
    @import "object/project/secondary";

    //utility//