.c-button__search{
    border: solid 1px #707070;
    color: #707070;
    cursor: pointer;
    background-color: #F2EDE9;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 24.38%;
    height: 46px;
    margin-left: auto;
}

@media screen and(min-width:834px){
    .c-button__search{
        width: 25%;
    }
}

.c-button__menu{
    font-family: Robot;
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    width: 51px;
    height: 26px;
    position: absolute;
    top: 14px;
    right: 16px;
}

.c-button--close{
    display: block;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 25px;
    left: 85.3%;
}

.c-button--line{

    &::before{
        transform: rotate(45deg);
        content: "";
        position: absolute;
        width: 45.2px;
        height: 6px;
        background-color: #707070;
        display: block;
    }
        
    &::after {
        transform: rotate(-45deg);
        content: "";
        position: absolute;
        width: 45.2px;
        height: 6px;
        background-color: #707070;
        display: block;
    }
}

@media screen and(min-width:1920px){
    .c-button__menu{
        display: none;
    }

    .c-button--close{
        display: none;
    }

    .c-button--line{
        display: none;
    }
}

.c-button--detail{
    font-size: 16px;
    font-family: M+1m;
    font-weight: bold;
    color: #707070;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 42.1px 10.5px 41.1px;
    margin: 0 27.6% 43.7px 23.7%;
}

@media screen and(min-width:834px){
    .c-button--detail{
        margin: 0 23.93% 40px 27.5%;
    }
}

@media screen and(min-width:1920px){
    .c-button--detail{
        margin: 0 26.47% 60px 30.32%;
        padding: 27px 106px;
}
}