.p-aside{
    a{
        font-family: M+1m;
         color: #707070;
        } 
}

.p-nav__memu{
    display: none;
}


.p-hnav__contents{
   padding-top: 155px;


    &__title a{
        font-weight: bold;
        padding-left: 46px;
        font-size: 24px;
        padding-top: 85px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        

        &--margin{
            margin-top: 40px;
            
        }

        &__item{
            padding-left: 66px;
            margin-top: 13px;
            margin-bottom: 13px;
            font-size: 20px;
        }
    }
}

.p-snav__contents{
    padding-top: 34px;
 
 
     &__title a{
         font-weight: bold;
         padding-left: 46px;
         font-size: 24px;
     }
 
     &__list{
         display: flex;
         flex-direction: column;
        

         &--margin{
            margin-top: 40px;
            
        }
 
         &__item{
             padding-left: 66px;
             margin-top: 13px;
             margin-bottom: 13px;
             font-size: 20px;
         }
     }
 }

 .p-dnav__contents{
    padding-top: 34px;
 
 
     &__title a{
         font-weight: bold;
         padding-left: 46px;
         font-size: 24px;
     }
 
     &__list{
         display: flex;
         flex-direction: column;
    

         &--margin{
            margin-top: 40px;
            
        }
 
         &__item{
             padding-left: 66px; 
             margin-top: 13px;
             margin-bottom: 13px;
             font-size: 20px;
         }
     }
 }

 @media screen and(min-width:1920px){
    .p-nav__memu{
        display: block;
        font-family: Robot;
        font-weight: bold;
        font-size: 34px;
        color: #707070;
        margin-top: 82px;
        margin-left: 46px;
        width: 86px;
        height: 45px;
    }
}