.p-contents{
    h2{
        margin-top: 30px;
        font-size: 28px;
        @include title;
    }

    p{
        height: 183px;
        margin-top: 30px;
       @include text;
        color: #3C2A10;
    }

    h3{
        margin-top: 34px;
        font-size: 24px;
        @include title;
    }

    h4{
        margin-top: 30px;
        margin-bottom: 29px;
        font-size: 20px;
        @include title;
    }
}

@media screen and(min-width:834px){
    .p-contents{
        h2{
            margin-top: 60px;
            font-size: 36px;
        }
    
        p{
            height: 115px;
            margin-top: 60px;
        }
    
        h3{
            margin-top: 60px;
            font-size: 28px;
        }
    
        h4{
            margin-top: 59px;
            margin-bottom: 59px;
        }
    }
}

@media screen and(min-width:1920px){
    .p-contents{
        p{
            height: 71px;
        }
    }
}