.p-footer__contents{
    color: #fff;
    font-family: M+ 1m;
  

    &__items{
        text-align: center;
        padding-top: 39px;
        padding-left: 63px;
        padding-right: 62px;
        
            &__item{
                padding: 0;
                margin: 0;
            }
            a{
                font-size: 20px;
            }
    }

    &__note{
        font-size: 14px;
        text-align: center;
        padding-top: 34px;
        padding-bottom: 30px;
    }

}




