.p-map__content{
    z-index: 6;
    position:absolute;
    top:0;

    &__title{
        font-family: M+ 1m;
        font-size: 30px;
        color: #fff;
        margin-top: 40px;
        margin-left: 42px;
        width:64%;

        &::before{
            content: "――";
            font-family: Robot;
            font-size: 41px;
            color:#fff;
            padding-left: 0px;
            margin-top: 20px;
            position: absolute;
        }  
    }
}

.p-map__content__item{
    font-family:M+ 1m;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin:40px 40px 51px 40px; 
    width: 78.7%;
    height: 75%;
    line-height: 2.3;
}

@media screen and(min-width:834px){
    .p-map__content__item{
        margin: 40px 29px auto 42px;
        width: 91.5%;
    }

    .p-map__content__title::before{
        margin-top: 30px;
    }
}

@media screen and(min-width:1920px){
    .p-map__content__item{
        //左側のレイヤーだけに文字を収める
        width: 44.8%;
        margin: 119px auto 40px 119px;
    }

    .p-map__content__title{
        margin-top: 83px;
        margin-left: 119px;

        &::before{
            margin-top: 60px;
        }
    }
}