.p-menu__desc{
    &__title{
        padding-top: 30px;
        padding-left: 22px;
        @include title;
        font-size: 28px;
    }

    &__text{
        @include text;
        color:#3C2A10;
        height: 276px;
        width: 89.3%;
        margin: 30px 18px 19px 22px;
    }
}

@media screen and(min-width:834px){
.p-menu__desc{
    &__title{
        padding-top: 36px;
        padding-left: 42px;
        font-size: 36px;
    }

    &__text{
        height: 143px;
        width: 90.76%;
        margin: 25px 35px 37px 42px;
    }
}
}

@media screen and(min-width:1920px){
    .p-menu__desc{
        &__title{
            padding-top: 60px;
            padding-left: 100px;
        }
    
        &__text{
            height: 71px;
            width: 70.46%;
            margin: 25px 100px 70px 100px;
        }
    }
    }

.p-menu__list__item{

    &__title{
        @include titleF;
        font-size: 20px;
        padding-top: 30.5px;
    }

    &__subtitle{
        @include titleF;
        padding-top:24px ;
    }

    &__text{
        color: #fff;
        @include text;
        margin: 10px 0 40px 0;
        height: 114px;
        //width: 89.88%;
    }
}

@media screen and(min-width:834px){
    .p-menu__list__item{

        &__title{
            padding-top: 29px;
            
        }
    
        &__subtitle{
            padding-top:20px ;
           
        }
    
        &__text{
            margin: 10px 0 45px 0;
            //width: 68.1%;
        }
    }
}

@media screen and(min-width:1920px){
    .p-menu__list__item{

        &__title{
            padding-top: 53px;
            font-size: 36px;
         }
    
        &__subtitle{
            padding-top:47px ;
            font-size: 24px;
        }
    
        &__text{
            margin: 17px 0 60px 0;
            //width: 75.29%;
        }
    }
}