.p-service__title--takeout{
    font-family: Robot;
    font-size: 41px;
    color:#EAEAEA;
    padding-left: 10px;
    position: absolute;
    top:11px;
    

    &::before{
        content: "―";
        font-family: Robot;
        font-size: 41px;
        height: 1px;
        color:#EAEAEA;
        padding-left: 0px;
        margin-top: 60.3px;
        position: absolute;

    }
}

.p-service__title--eatin{
    font-family: Robot;
    font-size: 41px;
    color:#EAEAEA;
    padding-left: 12px;
    position: absolute;
    top:13px;

    &::before{
        content: "―";
        font-family: Robot;
        font-size: 41px;
        color:#fff;
        padding-left: 0px;
        margin-top: 60.3px;
        position: absolute;
    }
}

.p-service__cat{

    &--top{
        background-color: #fff;
        opacity: 0.8;
        width:93.7%;
        height: 25.4%;
        position: absolute;
        top:46.3%;
        margin-left: 11px;
    }

    &--bottom{
        background-color: #fff;
        opacity: 0.8;
        width:93.7%;
        height: 25.4%;
        position: absolute;
        top:73%;
        margin-left: 11px;
    }

    &__heading{
        font-family: M +1m;
        font-size: 22px;
        color:#3C2A10;
        margin-left: 10px;
        margin-top: 19px;
        padding: 0;
    }

    &__item{
        font-family: M+1m;
        font-size: 16px;
        color:#3C2A10;
        margin: 19px 14px 23px 10px ;
        overflow-wrap:  break-word;
        overflow: hidden;
        width: 92.3%;
        height: 43.5%;
    }
}


@media screen and(min-width:834px){
    .p-service__title--takeout{
        font-size: 44px;
        padding-left: 11px;
        top:12px;
    }
    
    .p-service__title--eatin{
        font-size: 44px;
        padding-left: 13px;
        top:14px;
    }

    .p-service__cat{

        &--top{
            width:93.55%;
            height: 25.25%;
            top:46.4%;
            margin-left: 12px;
        }
    
        &--bottom{
            width:93.55%;
            height: 25.25%;
            top:73.1%;
            margin-left: 12px;
        }
    
        &__heading{
            font-size: 24px;
        }
    } 
}


@media screen and(min-width:1920px){
    .p-service__title--takeout{
        font-size: 80px;
        padding-left: 19px;
        top:20px;
    
        &::before{
            font-size: 60px;
            margin-top: 80.3px;
        }
    }
    
    .p-service__title--eatin{
        font-size: 80px;
        padding-left: 22px;
        top:24px;
    
        &::before{
            font-size: 60px;
            margin-top: 80.3px;
        }
    }

    .p-service__cat{

        &--top{
            width:93.6%;
            height: 14.48%;
            top:67.5%;
            margin-left: 20px;
        }
    
        &--bottom{
            width:93.6%;
            height: 14.48%;
            top:83.7%;
            margin-left: 20px;
        }

    }
}