.p-top__img{
    //background-size: cover;
    height: 285px;
    width: 100%;
    object-fit: cover;
}

@media screen and(min-width:1920px){
    .p-top__img{
        height:530px;
        width: 80.9%;
        
    }
}

.p-top__title{
        position: absolute;
        font-family: Robot;
        font-size: 36px;
        color: #fff;
        padding-left: 25px;
        top:119px;
}

@media screen and(min-width:834px){
    .p-top__title{
        padding-left: 86px;
    }
}

@media screen and(min-width:1920px){
    .p-top__title{
        padding-left: 86px;
        top:231px;
        font-size: 40px;
    }
}

.p-top{//アーカイブ
    &__title--menu{
        position: absolute;
        font-family: Roboto;
        font-weight: bold;
        font-size: 36px;
        color: #fff;
        padding-left: 37px;
        top:319px;
    }
    &__subtitle--archive{
        position: absolute;
        font-family: M+ 1m;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding-left: 37px;
        top:374px;
    }

}

@media screen and(min-width:834px){
    .p-top{//アーカイブ
        &__title--menu{
            font-size: 60px;
            padding-left: 86px;
        }
        &__subtitle--archive{
            padding-left: 275px;
            top:354px;
        }
    
    }
}

@media screen and(min-width:1920px){
    .p-top{//アーカイブ
        &__title--menu{
            top:297px;
        }
        &__subtitle--archive{
            top:330px;
        }
    }
}

.p-top{//アーカイブサーチ
    &__title--search{
            position: absolute;
            font-family: Roboto;
            font-weight: bold;
            font-size: 36px;
            color: #fff;
            padding-left: 37px;
            top:320px;
    }

    &__subtitle--archive_search{
            position: absolute;
            font-family: M+ 1m;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            padding-left: 37px;
            top:374px;
    }
}

@media screen and(min-width:834px){
    .p-top{
        &__title--search{//アーカイブサーチ
            font-size: 60px;
            padding-left: 86px;
            top:319px;
        }
        &__subtitle--archive_search{
            padding-left: 311px;
            top:352px;
        }
    }
}

@media screen and(min-width:1920px){
    .p-top{
        &__title--search{//アーカイブサーチ
            top:297px;
        }
        &__subtitle--archive_search{
            top:330px;
        }
    }
}