.p-top__img{
    background-size: cover;
}

.p-top__title{
        position: absolute;
        font-family: M+ 1m;
        font-size: 36px;
        color: #fff;
        padding-left: 25px;
        top:119px;
}