.l-aside{//*Menuを押したら出る黒いレイヤー*//
    position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background-color:rgba(0,0,0,0.5);
    }
    

.l-nav{//*Menuを押したら出る*//
    position: absolute;
    top: 0;
    right: 0;
    width: 87.5%;
    height: 100%;
    background-color: #F2EDE9;
}


