.l-map{
    height: 691px;
    position: relative;
    
    &__layer--top{//上
        background-color: #000000;
        opacity: 0.29;
        position: absolute;
        height: 60%;
        z-index: 5;
    }

    &__img--middle{//真ん中
        background-image: url(../img/map-iphone.jpg);
        background-size: cover;
        background-position: center;
        height: 691px;
        opacity: 0.6;
        z-index: 3;
        position: absolute;
    }

    &__layer--bottom{
        height: 691px;
        background-color: #000000;
        position: absolute;
    }
}

@media screen and(min-width:834px){
    .l-map{
        height: 415px;

        &__layer--top{
          width: 100%;
          height: 100%;
        }

        &__img--middle{
            height: 415px;
            background-image: url(../img/map-ipad.jpg);
        }

        &__layer--bottom{
            height: 415px;
        }

    }
}

@media screen and(min-width:1920px){
    .l-map{
        height: 649px;
        width: 80.9%;
    
        &__layer--top{
            height: 100%;
            width:61.2%
        }

        &__img--middle{
            height: 649px;
            background-image: url(../img/map-pc.jpg);
        }

        &__layer--bottom{
            height: 649px;
            width: 100%;
        }

    }
}