.l-menu__pagenation{
    padding: 39.5px 20.2px 31px 20.2px;
}

.l-pagenation{
    position: relative;
    height: 22px;
}

.l-pagenation ul{
    display: none;
}


@media screen and(min-width:834px){
    .l-menu__pagenation{
        padding: 0;
        margin: 85px auto 30px auto;
        max-width: 598.82px;
    }
    
    .l-pagenation{
        position: relative;
        height: 35px;
        width: 100%;
    }
    
    .l-pagenation ul{
        display: flex;
        position: absolute;
        width: 72.64%;
        left: 127px;
    }
}

@media screen and(min-width:1920px){
    .l-menu__pagenation{
        margin: 120px 844.2px 64px 477px;
        width: 100%-19.1%;
    }

}