.l-service-wrapprer{
    width: 100%;
}

.l-service{
    padding: 20px;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;

    &__takeout{
        position: relative;

        &__inner{
            display: flex;
            flex-direction: column;
        }
    }

    &__img{
        height: 23.6%;
    }

    &__eatin{
        position: relative;
        margin-top: 20px;
    
        &__inner{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and(min-width:834px){
    .l-service{
       display: flex;
       flex-direction: row;
       padding: 40px;

       &__img{
        height: 681px;
    }

    &__eatin{
        margin-top: 0;
        margin-left: 41px;
    }
    }
}

@media screen and(min-width:1920px){
    .l-service-wrapprer{
        width: 80.9%;
    }
    .l-service{
        display: flex;
        flex-direction: row;
        padding: 120px 112px 131px 111px;

        &__img{
            height: 1193px;
        }
    
        &__eatin{
            margin-top: 0;
            margin-left: 80px;
        }
    }
}

