.l-service-wrapprer{
    width: 100%;
}

.l-service{
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__takeout{
        position: relative;
        background-image: url(../img/takeout-iphone.jpg);
        background-size: cover;
        height: 642px;
        background-position: center;

        &__inner{
            display: flex;
            flex-direction: column;
        }
    }

    &__eatin{
        position: relative;
        margin-top: 20px;
        background-image: url(../img/eatin-iphone.jpg);
        background-size: cover;
        height: 642px;
        background-position: center;
    
        &__inner{
            display: flex;
            flex-direction: column;
        }
    }
}



@media screen and(min-width:834px){
    .l-service{
       display: flex;
       flex-direction: row;
       padding: 40px;

       &__takeout{
           height: 681px;
        background-image: url(../img/takeout-ipad.jpg);
    }

        &__eatin{
            height: 681px;
            margin-top: 0;
            margin-left: 41px;
            background-image: url(../img/eatin-ipad.jpg);
        }
    }
}

@media screen and(min-width:1920px){
    .l-service-wrapprer{
        width: 80.9%;
    }
    .l-service{
        display: flex;
        flex-direction: row;
        padding: 120px 112px 131px 111px;

        &__takeout{
            height: 1193px;
            background-image: url(../img/takeout-pc.jpg);
        }
    
        &__eatin{
            height: 1193px;
            background-image: url(../img/eatin-pc.jpg);
            margin-top: 0;
            margin-left: 80px;
        }
    }
}

