.l-top{
    position: relative;
    width: 100%;
    height: 285px;
    background-size: cover;
    background-image: url(../img/top-iphone.jpg);
    background-position: center;
}

@media screen and(min-width:834px){
    .l-top{
        background-image: url(../img/top-ipad.jpg);
    }
}

@media screen and(min-width:1920px){
    .l-top{
        height: 530px;
        width: 80.88%;
        background-image: url(../img/top-pc.jpg);
    }
}

.l-top--archive{
    position: relative;
    width: 100%;
    height: 285px;
    background-size: cover;
    background-image: url(../img/page-title-archive-iphone.jpg);
    background-position: center left;
    opacity: 0.5;
}

.l-top__title__layer{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 285px;
}

@media screen and(min-width:834px){
    .l-top--archive{
        height: 283px;
        background-image: url(../img/page-title-archive-ipad.jpg);
    }

    .l-top__title__layer{
        height: 283px;
    }
}

@media screen and(min-width:1920px){
    .l-top--archive{
        height: 239px;
        width: 80.88%;
        background-image: url(../img/page-title-archive-pc.jpg);

    }

    .l-top__title__layer{
        height: 239px;
        width: 80.88%;
    }
}

.l-top--single{//シングルページ
    position: relative;
    width: 100%;
    height: 225px;
    background-size: cover;
    background-image: url(../img/page-title-single-iphone.jpg);
    background-position: center;
}

@media screen and(min-width:834px){
    .l-top--single{
    background-image: url(../img/page-title-single-ipad.jpg);
    height: 500px;
    }
}

@media screen and(min-width:1920px){
    .l-top--single{
        background-image: url(../img/page-title-single-pc.jpg); 
        width:80.88% ;
    }
}

.l-top--page{//ページ
    position: relative;
    width: 100%;
    height: 224px;
    background-size: cover;
    background-image: url(../img/title-page-iphone.jpg);
    background-position: center;
}

@media screen and(min-width:834px){
    .l-top--page{
    background-image: url(../img/title-page-ipad.jpg);
    height: 500px;
    }
}

@media screen and(min-width:1920px){
    .l-top--page{
    background-image: url(../img/title-page-pc.jpg);
    width: 80.88%;
    }
}